<div class="media media-chat media-chat-reverse">
    <div>
        {% if message.author.profilePic %}
            <img class="avatar" src="{{ message.author.profilePic|imagine_filter('user_preview_pic') }}" alt="user pic">
        {% else %}
            <img class="avatar" src="https://avatars.dicebear.com/api/pixel-art/{{ message.author.userIdentifier }}.svg?size=100" alt="user pic">
        {% endif %}
        <span>{{ message.author.userIdentifier }}</span>
        <time datetime="2018">{{ message.createdAt|date('H:i') }}</time>
    </div>
    <div class="media-body">

        <div class="clearfix" data-id="{{ message.id }}">
            <div class="float-start">
                {{ message.text }}{% if message.text != '' and message.attachments.count > 0 %}<br>{% endif %}
                {% for attachment in message.attachments %}
                    <img style="max-width: 20rem" src="{{ path('attachment', {id: message.chatroom.id, attach_id: attachment.id}) }}">
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
            <div class="float-end"><i class="bi bi-trash-fill delete-icon"></i></div>
        </div>

    </div>
</div>
