{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    {% include 'room/_attach_file_modal.html.twig' %}
    <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-bordered" id="chatBody">
                        <div class="card-header">
                            <h4 class="card-title">
                                <strong>
                                    {% if chatroom.name is not null %}
                                    {{ chatroom.name }}
                                    {% else %}
                                    {% for user in chatroom.users %}{% if user != app.user %}{{ user.userIdentifier }}{% endif %}{% endfor %}
                                    {% endif %}
                                </strong>
                            </h4>
                            {% for user in chatroom.users %}{% if user != app.user %}<img class="avatar avatar-xs" src="{{ uploaded_asset(user.profilePic)|imagine_filter('user_preview_pic') }}" alt="...">{% endif %}{% endfor %}
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chatContent">
{#                            <div class="media media-meta-day">Today</div>#}
                            {% set newUser = true %}

                            {% for message in chatroom.messages %}
                            {% if prevUser is defined and prevUser != message.author %}
                                </div>
                            </div>
                            {% set newUser = true %}
                            {% endif %}
                            {% if newUser %}
                            <div class="media media-chat {% if message.author == app.user %}media-chat-reverse{% endif %}">
                                <div>
                                    <img class="avatar" src="{{ uploaded_asset(message.author.profilePic)|imagine_filter('user_preview_pic') }}" alt="user pic">
                                    <span>{{ message.author.userIdentifier }}</span>
                                    <time datetime="2018">{{ message.createdAt|date('H:i') }}</time>
                                </div>
                                <div class="media-body">
                                {% set newUser = false %}
                                {% set prevUser = message.author %}
                            {% endif %}
                                    <p>{{ message.text }}</p>
                            {% endfor %}

                            {% if chatroom.messages.count > 0 %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;" id="chatBottom">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="publisher bt-1 border-light">
                            <img class="avatar avatar-xs" src="{{ uploaded_asset(app.user.profilePic)|imagine_filter('user_preview_pic') }}" alt="...">
                            <input class="publisher-input" type="text" placeholder="Write your message..." id="messageInput" autofocus>
                            <button class="publisher-btn file-group" data-bs-toggle="modal" data-bs-target="#attachFileModal">📎</button>
                            <a class="publisher-btn text-decoration-none" href="#" data-abc="true">😃</a>
                            <a class="publisher-btn text-info text-decoration-none" href="#" data-abc="true" id="sendMessageButton">💌</a> </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    </div>
{% endblock %}
