{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    {% include 'room/_attach_file_modal.html.twig' %}
    {% if app.user == chatroom.host or is_granted('ROLE_ADMIN') %}
        {% include 'room/_manage_modal.html.twig' %}
    {% endif %}
    <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {% if app.user not in chatroom.users %}
                        <button class="btn btn-primary mb-3" id="joinChat"><i class="bi bi-chat-right-dots"></i> Join Chat</button>
                    {% endif %}
                    {% if app.user == chatroom.host or is_granted('ROLE_ADMIN') %}
                        <button type="button" data-bs-toggle="modal" data-bs-target="#manageModal" class="btn btn-primary mb-3" id="manageChatroom"><i class="bi bi-gear"></i> Manage Chatroom</button>
                    {% endif %}
                    <div class="card card-bordered" id="chatBody">
                        <div class="card-header">
                            <h4 class="card-title">
                                <strong>
                                    {% if chatroom.name is not null %}
                                    {{ chatroom.name }}
                                    {% else %}
                                    {{ chatroom.users|filter(u => u != app.user)|map(u => u.userIdentifier)|join(', ') }}
                                    {% endif %}
                                </strong>
                            </h4>
                            {% for user in chatroom.users %}
                                {% if user != app.user %}
                                    {% if user.profilePic %}
                                        <img class="avatar avatar-xs" src="{{ user.profilePic|imagine_filter('user_preview_pic') }}" alt="...">
                                    {% else %}
                                        <img class="avatar avatar-xs" src="https://avatars.dicebear.com/api/pixel-art/{{ user.userIdentifier }}.svg?size=100" alt="...">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chatContent">
{#                            <div class="media media-meta-day">Today</div>#}
                            {% set newUser = true %}

                            {% for message in chatroom.messages %}
                            {% if prevUser is defined and prevUser != message.author %}
                                </div>
                            </div>
                            {% set newUser = true %}
                            {% endif %}
                            {% if newUser %}
                            <div class="media media-chat {% if message.author == app.user %}media-chat-reverse{% endif %}">
                                <div>
                                    {% if message.author.profilePic %}
                                        <img class="avatar" src="{{ message.author.profilePic|imagine_filter('user_preview_pic') }}" alt="user pic">
                                    {% else %}
                                        <img class="avatar" src="https://avatars.dicebear.com/api/pixel-art/{{ message.author.userIdentifier }}.svg?size=100" alt="user pic">
                                    {% endif %}
                                    <span>{{ message.author.userIdentifier }}</span>
                                    <time datetime="2018">{{ message.createdAt|date('H:i') }}</time>
                                </div>
                                <div class="media-body">
                                {% set newUser = false %}
                                {% set prevUser = message.author %}
                            {% endif %}
                                    <div class="clearfix" data-id="{{ message.id }}">
                                        <div class="float-start">
                                            {{ message.text }}{% if message.text != '' and message.attachments.count > 0 %}<br>{% endif %}
                                            {% for attachment in message.attachments %}
                                                <img style="max-width: 20rem" src="{{ path('attachment', {id: chatroom.id, attach_id: attachment.id}) }}">
                                                {% if not loop.last %}<br>{% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if message.author == app.user %}
                                        <div class="float-end"><i class="bi bi-trash-fill delete-icon"></i></div>
                                        {% endif %}
                                    </div>
                            {% endfor %}

                            {% if chatroom.messages.count > 0 %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;" id="chatBottom">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="publisher bt-1 border-light">
                            {% if app.user.profilePic %}
                            <img class="avatar avatar-xs" src="{{ app.user.profilePic|imagine_filter('user_preview_pic') }}" alt="...">
                            {% else %}
                            <img class="avatar avatar-xs" src="https://avatars.dicebear.com/api/pixel-art/{{ app.user.userIdentifier }}.svg?size=100" alt="...">
                            {% endif %}
                            <input class="publisher-input" type="text" placeholder="Write your message..." id="messageInput" autofocus {% if not is_granted('CHAT_AUTH', chatroom) %}disabled{% endif %}>
                            <button class="publisher-btn file-group" data-bs-toggle="modal" data-bs-target="#attachFileModal">📎</button>
                            <a class="publisher-btn text-decoration-none" href="#" data-abc="true">😃</a>
                            <a class="publisher-btn text-info text-decoration-none" href="#" data-abc="true" id="sendMessageButton">💌</a> </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}