{% extends 'base.html.twig' %}

{% block title %}Search{% if app.request.query.get('q') != '' %} "{{ app.request.query.get('q') }}"{% endif %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="d-flex" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ app.request.query.get('q') }}"autofocus>
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <div class="list-group mt-5">
                    {% for chatroom in chatrooms %}
                        <a href="{{ path('roomView', {id: chatroom.id}) }}" class="list-group-item list-group-item-action {# for unread messages bg-light #}" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">
                                    {% if chatroom.name is not null %}
                                        {{ chatroom.name }}
                                    {% else %}
                                        {{ chatroom.users|filter(u => u != app.user)|map(u => u.userIdentifier)|join(', ') }}
                                    {% endif %}
                                </h6>
                                <small>{{ chatroom.updatedAt|ago }}</small>
                            </div>
                            <div class="d-flex w-100">
                                {% if chatroom.messages|last %}
                                    {% set lastMessage = chatroom.messages|last %}
                                    <img class="avatar avatar-xs" src="{{ lastMessage.author.profilePic|imagine_filter('user_preview_pic') }}" alt="...">
                                    <small class="ms-2 mt-2">{{ lastMessage.text|u.truncate(50, '...') }}{% for attachment in lastMessage.attachments %} [Photo]{% endfor %}</small>
                                    {# for unread messages <span class="badge bg-primary rounded-pill">1</span>#}
                                {% else %}
                                    <small class="ms-2 mt-2">No messages in this chat...</small>
                                {% endif %}
                            </div>
                        </a>

                    {% endfor %}
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

